<section data-ng-controller="TareasController">
    <div class="page-header">
        <h3>Nueva Tarea</h3>
    </div>
    <div class="col-md-12">
        <md-content>
            <form name="formProyect" class="formProyect"  data-ng-submit="create()">
                
                <md-datepicker data-ng-model="dateLim" md-placeholder="Feche Limite Para Terminar"></md-datepicker>
                <md-input-container class="md-block">
                    <label>Nombre de la Tarea</label>
                    <input required name="name" data-ng-model="name">
                </md-input-container>
                <md-input-container>
                    <label>Status</label>
                    <md-select  data-ng-model="status" disabled>
                      <md-option value="Espera" selected>En Espera</md-option>
                      <md-option value="Proceso">En Proceso</md-option>
                      <md-option value="Pausa">En Pausa</md-option>
                      <md-option value="Terminada">Terminada</md-option>
                      <md-option value="Cancelada">Cancelada</md-option>
                    </md-select>
                </md-input-container>
                <md-radio-group  data-ng-model="prioridad" required>
                    <li class="glyphicon glyphicon-time"></li> Elige la prioridad
                    <md-radio-button value="PLANIFICADA" class="md-primary">Planificada</md-radio-button>
                    <md-radio-button value="MEJORA" class="md-primary"> Mejora </md-radio-button>
                    <md-radio-button value="CORRECCION" class="md-primary">Correccion</md-radio-button>
                </md-radio-group>

                <div class="form-group">
                  <label for="usuarios">Agregar Usuarios:</label><br/>
                  <select class="form-control" id="usuarios">
                    <option ng-repeat="usuario in usuarios" value="{{usuario.username}}">{{usuario.username | uppercase}}</option>
                  </select>
                  <button data-ng-click="addUser();" id="add" class="glyphicon glyphicon-plus" onclick="event.preventDefault()"></button>
                </div>

                 <md-chips data-ng-model="nombres">
                    <button class="md-chip-remove" ng-click="tagDeleted()" md-chip-remove> <md-icon md-svg-icon="md-close"></md-icon> </button>
                    <md-chip-template>
                        {{$chip.name}}
                    </md-chip-template>
                 </md-chips>

                 <div class="form-group">
                  <label for="proyectos">Agregar Proyectos:</label><br/>
                  <select class="form-control" id="proyectos">
                    <option ng-repeat="proyecto in proyectos" value="{{proyecto.name}}">{{proyecto.name | uppercase}}</option>
                  </select>
                  <button data-ng-click="addProyect();" id="add" class="glyphicon glyphicon-plus" onclick="event.preventDefault()"></button>
                </div>

                 <md-chips data-ng-model="proyects">
                    <button class="md-chip-remove" ng-click="tagDeleted()" md-chip-remove> <md-icon md-svg-icon="md-close"></md-icon> </button>
                    <md-chip-template>
                        {{$chip.name}}
                    </md-chip-template>
                 </md-chips>
                
              <md-button type="submit" class="md-raised md-primary submit">Registrar</md-button>
            </form><br/><br/>
        </md-content>
		<div data-ng-show="error" class="text-danger">
			<strong data-ng-bind="error"></strong>
		</div>  
    </div>


    <div class="page-header">
        <h3>Listado de Tareas</h3>
    </div>
    <div>
        <table ng-table="tableParams" show-filter="true" data-ng-show="$data.length">
            <tr ng-repeat="tarea in $data" class="{{tarea.status}}">
                <td data-title="'Nombre'" sortable="'name'" filter="{ 'name': 'text' }">{{tarea.name}}</td>
                <td data-title="'Prioridad'" filter="{ 'prioridad': 'text' }">{{tarea.prioridad}}</td>
                <td  data-title="'Status'" filter="{ 'status': 'text' }">{{tarea.status}}</td>
                <!-- <td  data-title="'Fecha Limite'" filter="{ 'dateLim': 'text' }">{{tarea.dateLim | date: "dd-MM-yyyy"}}</td> -->
                <td>
                    <div class="table-actions">
                        <a class="btn btn-success" title="view" href="/#!/tareas/{{tarea._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span> 
                        </a>
                        <!-- <a class="btn btn-primary" title="view" href="/#!/tareas/{{tarea._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span> 
                        </a>
                        <button type="button" class="btn btn-danger" title="remove" data-ng-click="remove(tarea)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button> -->
                    </div>
                </td>
                <td  data-title="'Usuarios Asignados a la Tarea'" ng-repeat="usuario in tarea.nombres" class="cont">
                    <span class="user" title="{{usuario.name | lowercase}}" style="">{{usuario.name | lowercase | limitTo: 2}}</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tareas.$resolved || tareas.length">
        No hay tareas registradas <a href="/#!/tareas/create">Registrar una Tarea</a>?
    </div>
</section>

<style>
  .user {
    background: #2A6496;
    font-size: 11px;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    position: relative;
    top: 13px;
    border: 0;
  }

  .Terminada{
    background-color: #FFCDD2;
  }
</style>