<section data-ng-controller="TareasController" data-ng-init="findOne()">
    <div class="page-header">
        <h3>Editar Tarea</h3>
    </div>
    <div class="col-md-12">
        <md-content>
            <form name="formProyect" class="formProyect"  data-ng-submit="update()">
                
                <md-datepicker ng-model="tarea.dateLim" md-placeholder="Feche Limite Para Terminar"></md-datepicker>
                
                <md-input-container class="md-block">
                    <label>Nombre de la Tarea</label>
                    <input required name="name" data-ng-model="tarea.name">
                </md-input-container>
                <md-input-container>
                    <label>State</label>
                    <md-select  data-ng-model="tarea.status" id="status">
                      <md-option value="Espera" selected>En Espera</md-option>
                      <md-option value="Proceso">En Proceso</md-option>
                      <md-option value="Pausa">En Pausa</md-option>
                      <md-option value="Terminada">Terminada</md-option>
                      <md-option value="Cancelada">Cancelada</md-option>
                    </md-select>
                </md-input-container>
                <md-datepicker data-ng-model="tarea.dateFin" md-placeholder="Feche Terminada" ng-show="tarea.status == 'Terminada'"></md-datepicker><br/><br/>
                <md-radio-group  data-ng-model="tarea.prioridad" required>
                    <li class="glyphicon glyphicon-time"></li> Elige la prioridad
                    <md-radio-button value="PLANIFICADA" class="md-primary">Planificada</md-radio-button>
                    <md-radio-button value="MEJORA" class="md-primary"> Mejora </md-radio-button>
                    <md-radio-button value="CORRECCION" class="md-primary">Correccion</md-radio-button>
                </md-radio-group>
              <md-button type="submit" class="md-raised md-primary submit">Actualizar</md-button>
            </form><br/><br/>
        </md-content>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>  
    </div>
</section>