<section data-ng-controller="TareasController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Tarea</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="tarea.name" id="name" class="form-control" placeholder="Nombre de la Tarea" required>
                        <li class="glyphicon glyphicon-time"></li> Elige la prioridad
                        <input type="radio" data-ng-model="tarea.prioridad" id="planificada" value="PLANIFICADA"/> Planificada
                        <input type="radio" data-ng-model="tarea.prioridad" id="mejora" value="MEJORA"/> Mejora
                        <input type="radio" data-ng-model="tarea.prioridad" id="correccion" value="CORRECCION"/> Correccion<br/><br/>
                        <!-- <tt>prioridad = {{prioridad | json}}</tt><br/> -->

                        <button class="btn btn-lg btn-success btn-block" type="submit">Actualizar</button>
                    </div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>