<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Editar Perfil</h3>
	<div class="col-xs-offset-2 col-xs-8">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="col-xs-6">
					<label for="firstName">Nombre</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="Nombre">
				</div>
				<div class="col-xs-6">
					<label for="lastName">Apellidos</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Apellidos">
				</div>
				<div class="col-xs-6">
					<label for="email">Correo Electronico</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Correo Electronico">
				</div>
				<div class="col-xs-6">
					<label for="username">Usuario</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Usuario"><br/><br/>
				</div>
				<div class="col-xs-12">
					<button type="submit" class="btn btn-lg btn-primary btn-block">Guardar Perfil</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>