<section data-ng-controller="ProyectosController">
    <div class="page-header">
        <h3>Nuevo Proyecto</h3>
    </div>
    <md-content>
        <form name="formProyect" class="formProyect"  data-ng-submit="create()">
          <md-input-container class="md-block">
            <label>Nombre del Proyecto</label>
            <input required name="name" data-ng-model="name">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Descripcion</label>
            <input required name="descripcion" data-ng-model="descripcion">
          </md-input-container>
          <md-button type="submit" class="md-raised md-primary submit">Registrar</md-button>
        </form><br/><br/>
    </md-content>
</section>

<section data-ng-controller="ProyectosController" data-ng-init="find()">
    <div class="page-header">
        <h3>Lista de Proyectos</h3>
    </div>
    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="proyecto in $data">
                <td data-title="'Nombre'" sortable="'name'" filter="{ 'name': 'text' }">{{proyecto.name}}</td>
                <td data-title="'Fecha Inicio'">{{proyecto.created  | date:'medium'}}</td>
                <td>
                    <div class="table-actions">
                        <a class="btn btn-success" title="view" href="/#!/proyectos/{{proyecto._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span> 
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!proyectos.$resolved || proyectos.length">
        No Existen Proyectos <a href="/#!/proyectos/create">Crear uno</a>?
    </div>
</section>