<section data-ng-controller="ProyectosController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar Proyecto</h1>
    </div>

    <md-content>
        <form name="formProyect" class="formProyect"  data-ng-submit="update()">
          <md-input-container class="md-block">
            <label>Nombre del Proyecto</label>
            <input data-ng-model="proyecto.name" id="name" class="form-control" placeholder="Nombre" required>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Descripcion</label>
            <input required  data-ng-model="proyecto.descripcion" id="descripcion">
          </md-input-container>
          <md-button type="submit" class="md-raised md-primary submit">Actualizar</md-button>
        </form><br/><br/>
    </md-content>
</section>